[Desktop Entry]
Type=Application
Icon=harbour-sfos-forum-viewer
Name=SFOS Forum
MimeType=x-scheme-handler/sfos-forum;
X-Maemo-Service=harbour.sfos-forum-viewer
X-Maemo-Object-Path=/
X-Maemo-Method=harbour-sfos-forum-viewer.openUrl

NotShowIn=X-MeeGo;
Hidden=true

Name[es]=Faro
Name[de]=SFOS-Forum
Name[en]=SFOS Forum
Name[fr]=Forum SFOS
Name[ru]=Форум SFOS
