[D-BUS Service]
Name=org.szopin.sfos-forum-viewer
Exec=invoker --type=silica-qt5 --id=harbour-sfos-forum-viewer --single-instance sailfish-qml harbour-sfos-forum-viewer
